/* App.css */

/* Reset some default styles */
body,
html {
  margin: 0;
  padding: 0;
  background-color: #f1f3f6;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background-color: #2874f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.logo img {
  width: 100px; /* Set the width of the logo as needed */
  height: auto; /* Maintain the aspect ratio */
}
/* Dropdown Button */
.dropbtn {
  background-color: inherit;
  border: none;
  color: white;
  padding: 16px;
  font-size: 16px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  /* float: right; */
  display: inline-block;
  background-color: inherit;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex: 1; /* Take up remaining vertical space */
}

/* Style the left section (Product Section and Save For Later) */
.left-section {
  flex: 1; /* Take up the left side of the content */
  display: flex;
  flex-direction: column;
}

/* Style the Product Section */
.product-section {
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
}

/* Style the Save For Later section */
.save-for-later {
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
}

/* Style the right section (Price Total) */
.right-section {
  background-color: #ffffff;
  flex: 0 0 400px; /* Fixed width for the Price Total section */
  padding: 20px;
  margin: 10px;
  height: 400px;
}
/* ProductItem.css */

/* Style for the individual product item */
.product-item {
  display: flex;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid #ddd;
}

/* Style for the product image */
/* Style for the product image container */
.product-image {
  width: 80px; /* Set the width */
  height: 80px; /* Set the height */
  overflow: hidden; /* Hide any overflow */
  margin-right: 10px;
}

/* Style for the product image */
.product-image img {
  width: 100%; /* Make the image fill the entire container width */
  height: auto; /* Automatically adjust the height to maintain the aspect ratio */
}

/* Style for the product details (name and price) */
.product-details {
  flex-grow: 1;
}

.product-name {
  padding: 30px;

  /* font-weight: bold; */
  font-size: 18px;
  color: #212121;
  cursor: pointer;
}

.product-name:hover {
  color: #4275f2;
}
.save-for-later {
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}
.save {
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
  background-color: inherit;
  padding: 10px;
}

.product-price {
  font-weight: bold;

  color: #000000;
}

/* Style for the delivery date on the right side */
.delivery-date {
  font-size: 14px;
  color: #000000;
  margin-left: auto; /* Pushes the date to the right side */
}
.save-for-later h2 {
  text-transform: capitalize;
}

.price-total h3 {
  font-size: 18px;
  color: #878787;
}

.price-total hr {
  border-bottom: 1px solid #ddd;
}
.price-total p {
  padding: 10px;
}
.price-total span {
  text-align: right;
}
