
body,
html {
  margin: 0;
  padding: 0;
  background-color: #f1f3f6;
  font-family: Roboto;
}
header {
  width: 100%;
  background-color: #2874f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  position: sticky;
  height: 60px;
}
button{
  font-family: inherit;
  font-weight: 500;
}
.logo img {
  width: 100px;
  cursor: pointer;
  height: 100%; 
}

.dropbtn {
  cursor: pointer;
  line-height: 20px;
  background-color: inherit;
  border: none;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: 500;

  height: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: inherit;
  height:100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
  /* margin-top:2px; */
}

.dropdown-content p {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #dddddd;
}

.dropdown-content p:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;

}

.content {
  margin: 20px;
  height: 100vh;
  overflow: auto; 
  display: flex;
  flex-direction: row;
  flex: 1; 
}

main {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.product-section {
  background-color: #ffffff;
  margin: 10px;
}

.save-for-later-section {
  background-color: #ffffff;
  margin: 10px;
  border: none;
  font-size: 16px;
  color: #000000;
}

aside{
  background-color: #ffffff;
  flex: 0 0 27%; 
  margin: 10px;
  height: 350px;
}

.product-item {
  display: flex;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid #ddd;
}

.product-image {
  width: 84px; 
  height: 112px; 
  overflow: hidden; 
  margin-right: 10px;
}

.product-image img {
  cursor: pointer;
  width: 100%; 
  height: 100%; 
}

.product-details {
  flex-grow: 1;
}

.product-name {
  line-height: 16px;
  padding: 30px;
  font-size: 18px;
  color: #212121;
  cursor: pointer;
  width: 412px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-name:hover {
  color: #4275f2;
}
.product-price {
  padding: 0px 30px;
  font-size: 18px;
  /* font-weight: 550; */
  line-height: 25.2px;
  color: #000000;
}

.save {
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22.4px;
  color: #000000;
  cursor: pointer;
  background-color: inherit;
  padding: 20px 30px;

}
.save:hover {
  color: #4275f2;
}

.delivery-date {
  padding-top: 25px;
  align-self: flex-start;
  font-size: 14px;
  white-space: nowrap; 
  line-height: 19.6px;
  color: #000000;
  margin-left: auto;
}
.save-for-later-section h2 {
  text-transform: capitalize;
  padding:15px 30px;
  border-bottom: 1px solid #ddd;
}

.price-details {
  display: flex;
  justify-content: space-between;
  padding:10px 40px;
  border-bottom: 1px dotted #ddd;
}
.price-detail-heading {
  padding:20px;
  border-bottom: 1px solid #ddd;
}
.price-detail-heading h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px 15px;
  line-height: 22.4px;
  font-weight: 500;

  color: #878787;
  font-size: 16px;
}

.price-detail-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.price-detail-description p {
  line-height: 22.4px;
  letter-spacing: normal;
  font-size: 16px;
}
.price-detail-description-price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.price-total-amount-box {
  display: flex;
  justify-content: space-between;
  padding: 10px 35px;
}
.price-total-amount-box p {
  font-size: 18px;
  font-weight: 500;

}
