
body,
html {
  margin: 0;
  padding: 0;
  background-color: #f1f3f6;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background-color: #2874f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.logo img {
  width: 100px; 
  height: auto; 
}

.dropbtn {
  background-color: inherit;
  border: none;
  color: white;
  padding: 16px;
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex: 1; 
}

.left-section {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.product-section {
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
}

.save-for-later {
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
}

.right-section {
  background-color: #ffffff;
  flex: 0 0 400px; 
  padding: 20px;
  margin: 10px;
  height: 400px;
}

.product-item {
  display: flex;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid #ddd;
}


.product-image {
  width: 80px;
  height: 80px; 
  overflow: hidden; 
  margin-right: 10px;
}

.product-image img {
  width: 100%; 
  height: auto; 
}

.product-details {
  flex-grow: 1;
}

.product-name {
  padding: 30px;

  font-size: 18px;
  color: #212121;
  cursor: pointer;
}

.product-name:hover {
  color: #4275f2;
}
.save-for-later {
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}
.save {
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
  background-color: inherit;
  padding: 10px;
}

.product-price {
  font-weight: bold;

  color: #000000;
}

.delivery-date {
  font-size: 14px;
  color: #000000;
  margin-left: auto; 
}
.save-for-later h2 {
  text-transform: capitalize;
}

.price-total h3 {
  font-size: 18px;
  color: #878787;
}

.price-total hr {
  border-bottom: 1px solid #ddd;
}
.price-total p {
  padding: 10px;
}
.price-total span {
  text-align: right;
}
