
body,
html {
  margin: 0;
  padding: 0;
  background-color: #f1f3f6;
  font-family: Roboto;
}
header {
  width: 100vw;
  background-color: #2874f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  position: sticky;
  height: 6vh;
}
button{
  font-family: inherit;
  font-weight: 500;
}
.logo{
  height:100%;
}
.logo img {
  width:6em;
  cursor: pointer;
  padding:0.5em;
}

.dropbtn {
  cursor: pointer;
  background-color: inherit;
  border: none;
  color: white;
  padding: 0.5em;
  font-size: 1rem;
  font-weight: 500;
  height: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: inherit;
  height:100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 10em;
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 0.5em 0.6em;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-bottom: 0.1em solid #dddddd;
}

.dropdown-content p:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;

}

.content {
  margin: 3rem;
  margin-bottom: 0rem;
  height: 100vh;
  overflow: auto; 
  display: flex;
  flex-direction: row;
  flex: 1; 
}

main {
  width: 60vw;
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.product-section {
  background-color: #ffffff;
  width:100%;
}

.save-for-later-section {
  background-color: #ffffff;
  margin: 1rem 0;
  border: none;
  font-size: 1rem;
  color: #000000;
}

aside{
  background-color: #ffffff;
  flex: 0 0 27%; 
  margin-left: 2rem;
  height: 35vh;
  width: 30vw;
}

.product-item {
  display: flex;
  padding: 2em;
  border-bottom: 0.1em solid #ddd;
}

.product-image {
  width: 7em; 
  height: 8em; 
  min-width: 5em;
  min-height: 6em;
  overflow: hidden; 
  margin-right: 1em;
}

.product-image img {
  cursor: pointer;
  width: 100%; 
  height: 100%; 
}

.product-details{
flex: 1;
padding: 1em 2em;
box-sizing: border-box;
}

.product-detailed-description{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-name {
  line-height: 1rem;
  padding: 1em 2em;
  font-size: 1rem;
  color: #212121;
  cursor: pointer;
  width: 25em; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.product-name:hover {
  color: #4275f2;
}
.product-price {
  padding: 0 2em;
  font-size: 1rem;
  color: #000000;
  width:2em;
}

.save {
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  background-color: inherit;
  padding: 1em 2em;

}
.save:hover {
  color: #4275f2;
}

.delivery-date {
  padding-top: 2rem;
  align-self: flex-start;
  font-size: 0.8rem;
  white-space: nowrap; 
  color: #000000;
}
.save-for-later-section h2 {
  text-transform: capitalize;
  padding:1rem 2rem;
  border-bottom: 0.1em solid #ddd;
}

.price-details {
  display: flex;
  justify-content: space-between;
  padding:1rem 2rem;
  border-bottom: 0.1em dotted #ddd;
}
.price-detail-heading {
  padding:1rem 2rem;
  border-bottom: 0.1em solid #ddd;
}
.price-detail-heading h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  color: #878787;
  font-size: 1rem;
}

.price-detail-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.price-detail-description p {
  letter-spacing: normal;
  font-size: 1rem;
}
.price-detail-description-price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.price-total-amount-box {
  display: flex;
  justify-content: space-between;
  padding:1rem 2rem;
}
.price-total-amount-box p {
  font-size: 1.1rem;
  font-weight: 500;
}


@media  screen and (max-width:1000px) {
  .delivery-date{
    align-self: center;
  }
  .product-details{
    align-self: center;
  }
  .product-item {
    display: flex;
    align-items: center;
    padding: 2em;
    flex-direction: column;
    border-bottom: 0.1em solid #ddd;
}
.content {
  margin: 1rem;
  margin-bottom: 0rem;
  height: 100vh;
  overflow: auto; 
  display: flex;
  flex-direction: column;
  flex: 1; 
}
main{
  width: 100%;
}
aside{
  width: 100%;
  margin-left: 0;
}
}